name: buildx

on:
  push:
  pull_request:

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      -
        name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: linux/amd64,linux/arm64,linux/arm

      - name: Prepare
        id: prepare
        run: |
          DOCKER_IMAGE=nikkoura/paperless
          DOCKER_PLATFORMS=linux/amd64,linux/arm64,linux/arm
          VERSION=${GITHUB_REF#refs/*/}
          echo xX$VERSION
          TAGS="--tag ${DOCKER_IMAGE}:${VERSION}"
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            MAJOR=`echo $VERSION | cut -d. -f1`
            MINOR=`echo $VERSION | cut -d. -f2`
            TAGS="$TAGS --tag ${DOCKER_IMAGE}:latest"
            TAGS="$TAGS --tag ${DOCKER_IMAGE}:$MAJOR"
            TAGS="$TAGS --tag ${DOCKER_IMAGE}:$MAJOR.$MINOR"
          fi
          if [[ $VERSION = "main" ]]; then
            TAGS="$TAGS --tag ${DOCKER_IMAGE}:beta"
          fi
          echo ::set-output name=docker_image::${DOCKER_IMAGE}
          echo ::set-output name=version::${VERSION}
          echo ::set-output name=buildx_args::--platform ${DOCKER_PLATFORMS} \
            --build-arg VERSION=${VERSION} \
            --build-arg BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ') \
            --build-arg VCS_REF=${GITHUB_SHA::8} \
            ${TAGS} .
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Docker Buildx (build)
        run: |
          docker buildx build --output "type=image,push=false" ${{ steps.prepare.outputs.buildx_args }}
      - name: Docker Login
        if: success()
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "${DOCKER_PASSWORD}" | docker login --username "${DOCKER_USERNAME}" --password-stdin
      - name: Docker Buildx (push)
        if: success() && github.event_name != 'pull_request'
        run: |
          docker buildx build --output "type=image,push=true" ${{ steps.prepare.outputs.buildx_args }}
      - name: Docker Check Manifest
        if: always() && github.event_name != 'pull_request'
        run: |
          docker run --rm mplatform/mquery ${{ steps.prepare.outputs.docker_image }}:${{ steps.prepare.outputs.version }}
      - name: Clear
        if: always() && github.event_name != 'pull_request'
        run: |
          rm -f ${HOME}/.docker/config.json

